In [1]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile
import numpy as np

In [2]:
#Adding Path for XL File


# Read our housing data into pandas
df = pd.read_excel("Resources/crea-data.xlsx")

df.head()

      date                                         avg_price
0    .DESC  Average Sale Price: Residential: Canada (SA, C$)
1      .T1                               1988-01-01 00:00:00
2      .TN                               2020-02-01 00:00:00
3  .SOURCE                                              CREA
4   Jan-88                                            120580

In [3]:
#removing first 4 rows
cleaned_df=df.drop([0,1,2,3])
cleaned_df

       date avg_price
4    Jan-88    120580
5    Feb-88    123071
6    Mar-88    122809
7    Apr-88    126630
8    May-88    127309
..      ...       ...
403     NaN       NaN
404     NaN       NaN
405     NaN       NaN
406     NaN       NaN
407     NaN       NaN

[404 rows x 2 columns]

In [4]:
cleaner_df2=cleaned_df.dropna(how="any")
cleaner_df2

       date avg_price
4    Jan-88    120580
5    Feb-88    123071
6    Mar-88    122809
7    Apr-88    126630
8    May-88    127309
..      ...       ...
385  Oct-19    518389
386  Nov-19    524478
387  Dec-19    524625
388  Jan-20    526804
389  Feb-20    535978

[386 rows x 2 columns]

In [5]:
cleaner_df3=cleaner_df2
cleaner_df3.replace(to_replace="'",value ="")
cleaner_df3

       date avg_price
4    Jan-88    120580
5    Feb-88    123071
6    Mar-88    122809
7    Apr-88    126630
8    May-88    127309
..      ...       ...
385  Oct-19    518389
386  Nov-19    524478
387  Dec-19    524625
388  Jan-20    526804
389  Feb-20    535978

[386 rows x 2 columns]

In [6]:
dates=[]

In [7]:
test = cleaner_df3["date"].map(lambda x: x.split("'")[0])
test

4      Jan-88
5      Feb-88
6      Mar-88
7      Apr-88
8      May-88
        ...
385    Oct-19
386    Nov-19
387    Dec-19
388    Jan-20
389    Feb-20
Name: date, Length: 386, dtype: object

In [8]:
cleaner_df3.dtypes

date         object
avg_price    object
dtype: object

In [9]:
cleaner_df3['date']=pd.to_datetime(cleaner_df3["date"], format='%b-%y')

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
cleaner_df3.reset_index(drop=True,inplace=True)

In [11]:
cleaner_df3.to_csv('Resources/housing_data.csv')